@import '@/css/pages/index.scss';
@import '@/css/components/index.scss';

$BASE_FONT_SIZE: calc(10px + 2vmin);

$BACKGROUND_IMG: "https://www.queen.co.kr/news/photo/201910/320536_59033_3350.jpg";

.article {
    background: no-repeat url($BACKGROUND_IMG) 0 / cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $BASE_FONT_SIZE;
  min-height: 100vh;

  a {
    text-decoration: none;
    outline: none;
  }
}
