@import './z-index.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$SEARCH_BOX_WIDTH: 350px;

$DROPDOWN_WIDTH: 120px;
$DROPDOWN_ELEMENT_WIDTH: $DROPDOWN_WIDTH - 25px;

$SEARCH_DROPDOWN_BACKGROUND_COLOR: #fff;
$SEARCH_DROPDOWN_COLOR: #0e0e0e;
$SEARCH_PLACEHOLDER_COLOR: #9fa3b1;
$SEARCH_COLOR: black;

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;

  margin: 0px 40px 40px 40px;

  & .search_box {
    width: $SEARCH_BOX_WIDTH;
    background: $SEARCH_DROPDOWN_BACKGROUND_COLOR;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;

    & .dropdown {
      position: relative;
      width: $DROPDOWN_WIDTH;
      height: 100%;
      border-right: 2px solid #dde2f1;
      margin-top: 3px;
      padding-right: 6px;
      color: $SEARCH_DROPDOWN_COLOR;
      cursor: pointer;

      & .default_option {
        text-align: left;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 2px;
      }

      & ul {
        position: absolute;
        top: 35px;
        left: -10px;
        background: $SEARCH_DROPDOWN_BACKGROUND_COLOR;
        width: $DROPDOWN_ELEMENT_WIDTH;
        border-radius: 5px;
        padding: 20px;
        display: none;
        box-shadow: 8px 8px 6px -10px #b3c6ff;

        font-size: 14px;
      }

      & ul {
        z-index: $SEARCH_BOX_Z_INDEX;

        &.active {
          display: block;
        }

        & li {
          padding-bottom: 20px;
          list-style-type: none;
        }

        & li:last-child {
          padding-bottom: 0;
        }

        & li:hover {
          color: #6f768d;
        }
      } // ul

      &::before {
        content: '';
        position: absolute;
        top: 6px;
        right: 5px;
        border: 8px solid;
        border-color: #5078ef transparent transparent transparent;
      }
    } // dropdown

    & .search_field {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0px 10px;
      position: relative;

      & .input {
        border: 0px;
        font-size: 15px;
        padding-left: 20px;
        color: $SEARCH_COLOR;
      }

      & input:focus {
        outline: none;
      }

      & .fas {
        position: absolute;
        top: 4px;
        right: 10px;
        font-size: 18px;
        color: #5078ef;
        cursor: pointer;
      }
    } // search_field
  } // search_box
} // wrapper

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $SEARCH_PLACEHOLDER_COLOR;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $SEARCH_PLACEHOLDER_COLOR;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $SEARCH_PLACEHOLDER_COLOR;
}
