$BACKGROUND_IMG: 'https://images.unsplash.com/photo-1595757816291-ab4c1cba0fc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80';
// $BACKGROUND_IMG: 'https://www.queen.co.kr/news/photo/201910/320536_59033_3350.jpg';
